SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_APP_URL=https://apple-care.onrender.com
SCOPES=read_products,write_products
DATABASE_URL=
SHOP_CUSTOM_DOMAIN=
LIVE_SHOP_DOMAIN=
SESSION_SECRET=
NODE_ENV=production
APPLE_CARE_PRICING_FILE=
